<!-- app/views/home/index.html.erb -->

<h1 class="bg-orange-600">エンジニア面接シミュレータ</h1>
<!-- app/views/home/index.html.erb -->
<%= form_tag('/auth/github', method: 'post', data: {turbo: false}) do %>
    <button type='submit' class="btn btn-primary">Login with Developer</button>
    <% end %>