<!-- app/views/interview/answer_generic.html.erb -->
<h1><%= session[:questions][session[:current_index]] %></h1>
<%= form_with url: process_generic_answer_path, method: :post do |form| %>
  <%= form.text_field :answer, placeholder: "Your answer here" %>
  <%= form.submit "Submit" %>
<% end %>