<!-- app/views/interview/show.html.erb -->
<h1>面接トレーニング</h1>
<ul>
  <% if @questions.is_a?(Array) %>
    <% @questions.each do |question| %>
      <li><%= question %></li>
    <% end %>
  <% else %>
    <li>Questions could not be loaded.</li>
  <% end %>
</ul>