<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
</head>
<body>
  <%= notice %>
  <% if user_signed_in? %>
  <%= render 'shared/header' %>
  <% else %>
    <%= link_to 'GitHubでログイン', '/auth/github' %>
  <% end %>
  <%= yield %>
</body>
</html>